body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

input[type=submit] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #666;
    cursor: pointer;
    width: auto; 
}

input[type=submit]:hover {
    background-color: #777;
}

input[type="checkbox"] {
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #777;
}
