body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex; 
    background-color: #222E44;
}

.split_left{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    z-index: 1;
    overflow-x: hidden;
    background: url('../Images/Register1.webp') no-repeat center center fixed; 

    
}

.split_right{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    z-index: 1;
    overflow-x: hidden;
}

.left {
    background-color: white;
    border-radius: 0 20px 20px 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.right {
    background-color: #222E44;
}

.left-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    width: 60%;
    height: 20%; 
    border-radius: 20px;
    background-color: white;
    padding: 15px;
}
.left-centered p{
    margin-bottom: 50px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border: solid 2px black;
    width: 60%; 
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.label {
    text-align: left;
    padding-left: 10%; 
}

.form-field_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



h1 {
    font-size: 50px;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center; 
}

.btn {
    background-color: #76787A;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 150px; 
    opacity: 0.9;
    margin-bottom: 20px;
    margin-top: 50px;
}

.btn:hover {
    opacity: 1;
}

